*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-image: url(hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color:rgb(33, 37, 41);
  color: white;
  border-radius: 0 0 15px 15px;
  position: fixed; /* Fixes the navbar at the top */
  top: 0; /* Positions it at the top of the screen */
  left: 0; /* Ensures it starts from the left edge */
  width: 100%; /* Makes the navbar span the full width of the screen */
  z-index: 1000; 
}
.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
  /* border: 1px solid black; */
  margin-left: 10px;
}
.navbar ul {
  list-style: none;
  display: flex;
  /* border: 1px solid black; */
  justify-content: center; /* Centers links horizontally */
  align-items: center; /* Ensures links are vertically aligned */
  gap: 1.0rem; /* Adds spacing between links */
  padding: 0; /* Removes default padding */
  margin: 0; 
}
.navbar ul li {
  padding: 0 1rem; /* Adds space to the left and right of each link */
}
.navbar ul li:last-child {
  margin-right: 2rem; /* Additional space to the right of the 'Contact' link */
}
.navbar ul li a {
  color: white;
  text-decoration: none;
}
.menu-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    background-color: rgb(33, 37, 41);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    align-items: center;
    /* border: 1px solid red; */
  }
  .navbar ul.active {
    display: flex;
  }
  .menu-toggle {
    display: block;
    margin-right: 15px;
    /* border: 1px solid red; */
  }
}
.btn{
    margin-right: 10px;
}